{% extends "layouts/main.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}


{% block pageTitle %}
Select criteria stage – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <h1 class="govuk-heading-xl">
      At which stage do you you want to assess your criteria?
    </h1>

    <form class="form" action="select-methods-sift" method="post">




      {% if data['criteria-behaviours'].length > 0 %}
      <h2 class="govuk-heading-m govuk-!-margin-top-9" style="padding-bottom:20px;border-bottom:1px solid grey">Behaviours</h2>

      {% for bobthings in data['criteria-behaviours'] | slice(1) %}
      {% for bob in bobthings %}



      <!-- BEHAVIOURS CRITERIA -->


      <!-- BEHAVIOURS Stages -->



      {{ govukRadios({
        classes: "govuk-radios--inline",
        name: "behaviours-crit"+[loop.index]+"stage"+[loop.index],
        id: "behaviours-crit"+[loop.index]+"stage"+[loop.index],
        fieldset: {
          legend: {
            text: [loop.index]+". "+bob,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
        {
          id: bob,
          value: "sift",
          checked: checked("'behaviours-crit'+[loop.index]+'stage'+[loop.index]","Sift"),
          text: "Sift"
        },
        {
          id: bob,
          value: "interview",
          checked: checked("behaviours-crit"+[loop.index]+"stage"+[loop.index],"Interview"),
          text: "Interview"
        },
        {
          id: bob,
          value: "both",
          checked: checked("behaviours-crit"+[loop.index]+"stage"+[loop.index],"Both"),
          text: "Both"
        }
        ]
      }) }}
      {% endfor %}{% endfor %}{% endif %}





      {% if data['criteria-exp-1'].length > 0 or data['criteria-exp-2'].length > 0 %}

      <!-- EXPERIENCE CRITERIA  -->
      <h2 class="govuk-heading-m govuk-!-margin-top-9" style="padding-bottom:20px;border-bottom:1px solid grey">Experience</h2>
      {% set criteriaExpArr = [] %}

      {% if data['criteria-exp-1'].length > 0 %}
      {% set criteriaExpArr = (criteriaExpArr.push(data['criteria-exp-1']), criteriaExpArr) %}
      {% else %}{% endif %}

      {% if data['criteria-exp-2'].length > 0 %}
      {% set criteriaExpArr = (criteriaExpArr.push(data['criteria-exp-2']), criteriaExpArr) %}
      {% else %}{% endif %}

      {% if data['criteria-exp-3'].length > 0 %}
      {% set criteriaExpArr = (criteriaExpArr.push(data['criteria-exp-3']), criteriaExpArr) %}
      {% else %}{% endif %}

      {% for eons in criteriaExpArr | slice(1) %}
      {% for eon in eons %}


      {{ govukRadios({
        classes: "govuk-radios--inline",
        name: "experience-criteria-exp"+[loop.index]+"stage",
        id: "experience-criteria-exp"+[loop.index],
        fieldset: {
          legend: {
            text: [loop.index]+". "+eon,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
        {
          id: eon,
          value: "sift",
          checked: checked("experience-criteria-exp"+[loop.index]+"stage","Sift"),
          text: "Sift"
        },
        {
          id: eon,
          value: "interview",
          checked: checked("experience-criteria-exp"+[loop.index]+"stage","Interview"),
          text: "Interview"
        },
        {
          id: eon,
          value: "both",
          checked: checked("experience-criteria-exp"+[loop.index]+"stage","Both"),
          text: "Both"
        }
        ]
      }) }}
      {% endfor %}{% endfor %} {%endif%}

      {% if data['criteria-skills-1'].length > 0 %}


      {% if data['criteria-skills-1'].length > 0 %}
      <div>
        <h2 class="govuk-heading-m govuk-!-margin-top-9" style="padding-bottom:20px;border-bottom:1px solid grey">Skills</h2>
        {% set criteriaSkillsArr = [] %}

        {% set criteriaSkillsArr = (criteriaSkillsArr.push(data['criteria-skills-1']), criteriaSkillsArr) %}
        {% else %}{% endif %}

        {% if data['criteria-skills-2'].length > 0 %}
        {% set criteriaSkillsArr = (criteriaSkillsArr.push(data['criteria-skills-2']), criteriaSkillsArr) %}
        {% else %}{% endif %}

        {% if data['criteria-skills-3'].length > 0 %}
        {% set criteriaSkillsArr = (criteriaSkillsArr.push(data['criteria-skills-3']), criteriaSkillsArr) %}
        {% else %}{% endif %}

        {% for es in criteriaSkillsArr | slice(1) %}
        {% for e in es %}


        {{ govukRadios({
          classes: "govuk-radios--inline",
          name: "skills-criteria"+[loop.index]+"stage",
          id: "skills-criteria"+[loop.index],
          fieldset: {
            legend: {
              text: [loop.index]+". "+e,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
          {
            id: e,
            value: "sift",
            checked: checked("skills-criteria"+[loop.index]+"stage","Sift"),
            text: "Sift"
          },
          {
            id: e,
            value: "interview",
            checked: checked("skills-criteria"+[loop.index]+"stage","Interview"),
            text: "Interview"
          },
          {
            id: e,
            value: "both",
            checked: checked("skills-criteria"+[loop.index]+"stage","Both"),
            text: "Both"
          }
          ]
        }) }}
        {% endfor %}{% endfor %}
      </div>

      {% endif %}


      {% if data['criteria-strength'].length > 0 %}
      <div>
        <h2 class="govuk-heading-m govuk-!-margin-top-9" style="padding-bottom:20px;border-bottom:1px solid grey">Strengths</h2>


        {% for hings in data['criteria-strength'] | slice(1) %}
        {% for hing in hings %}


        {{ govukRadios({
          classes: "govuk-radios--inline",
          name: "strengths-criteria"+[loop.index]+"stage",
          id: "strengths-criteria"+[loop.index]+"stage",
          fieldset: {
            legend: {
              text: [loop.index]+". "+hing,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
          {
            id: hing,
            value: "sift",
            checked: checked("strengths-criteria"+[loop.index]+"stage","Sift"),
            text: "Sift"
          },
          {
            id: hing,
            value: "interview",
            checked: checked("strengths-criteria"+[loop.index]+"stage","Interview"),
            text: "Interview"
          },
          {
            id: hing,
            value: "both",
            checked: checked("strengths-criteria"+[loop.index]+"stage","Both"),
            text: "Both"
          }
          ]
        }) }}
        {% endfor %}{% endfor %}
      </div>
      {% endif %}

      {{ govukButton({
        classes: "govuk-!-margin-top-6",
        text: "Continue"
      }) }}

    </form>


  </div>



  <a href="#" onclick="checkRadio()">Link</a>

    <script>
      function checkRadio() {
        const siftArray = new Array();

        var radios = document.getElementsByTagName('input');
        for (i = 0; i < radios.length; i++) {
          if (radios[i].type == 'radio' && radios[i].checked && radios[i].value == "sift") {
            siftArray.push(radios[i].value, radios[i].legend);




            console.log(siftArray)
          }
        }
      }
    </script>
  {% endblock %}
